body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

table.darkTable {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 2px solid #000000;
    background-color: #4A4A4A;
    width: 100%;
    min-height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  table.darkTable td, table.darkTable th {
    border: 6px solid #4A4A4A;
    padding: 3px 2px;
  }
  table.darkTable tbody td {
    font-size: 13px;
    color: #E6E6E6;
  }
  table.darkTable tr:nth-child(even) {
    background: #888888;
  }
  table.darkTable thead {
    background: #000000;
    border-bottom: 3px solid #000000;
  }
  table.darkTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 0px solid #4A4A4A;
  }
  table.darkTable thead th:first-child {
    border-left: none;
  }
  
  table.darkTable tfoot td {
    font-size: 12px;
  }
h1{
    text-align: center;
}

table.darkTable2 {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 2px solid #000000;
    background-color: #4A4A4A;
    width: 100%;
    min-height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  table.darkTable2 td, table.darkTable2 th {
    border: 1px solid #4A4A4A;
    padding: 3px 2px;
  }
  table.darkTable2 tbody td {
    font-size: 13px;
    color: #E6E6E6;
  }
  table.darkTable2 tr:nth-child(even) {
    background: #888888;
  }
  table.darkTable2 tfoot td {
    font-size: 12px;
  }
  .indication{
      text-transform: uppercase;
      /* border: 1px solid black; */
      width: 100%;
      font-size: x-small;
  }